<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Servicebot Integration</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		<a href="/billing" class="btn btn-default btn-sm">Billing</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3>Account: <%= user.status %></h3>
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.email %><br>
						<strong>password</strong>: <%= user.local.password %><br>
						<strong>business</strong>: <%= user.business %><br>
						<strong>tier</strong>: <%= user.tier %><br>

					</p>

			</div>

		</div>
		<% if(user.status === "suspended") {%>
		<div class="col-sm-6">
			<div class="well">
				<h3 style="color: red">USER IS SUSPENDED</h3>
			</div>
		</div>
        <% } %>

        <%if (user.tier === "Enterprise" && user.status !== "suspended") { %>
		<div class="col-sm-6">
			<div class="well">
				<h3>Special Enterprise Box!</h3>
			</div>

		</div>
        <% } %>
        <%if ((user.tier === "Enterprise" || user.tier === "Advanced") && user.status !== "suspended") { %>
		<div class="col-sm-6">
			<div class="well">
				<h3>Advanced tier users get this box!</h3>
			</div>

		</div>
        <% } %>



	</div>

</div>
</body>
</html>
