<div class="container">
    <% if (message) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="page-header">
        <a href="/logout" class="btn btn-default btn-danger">&nbsp;&nbsp;Logout&nbsp;&nbsp;</a>
    </div>

    <div class="row"> <!-- User settings -->
        <div class="col-sm-12">
            <div class="well">
                <h3>MANDATORY! Wallet addresses of your miner(s)</h3>
                <span>One address per line</span>
                <div>
                    <textarea id="wallets" style="width:100%" rows="4"><%= wallets.join('\n') %></textarea>
                </div>
                <button id="saveWallets" class="btn btn-default">&nbsp;Save&nbsp;</button>&nbsp;&nbsp;
                <span style="color:#FF0004;" id="saveWalletsMessage"></span>
            </div>
        </div>
    </div>
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Email &amp; password <!--<a href="/unlink/local" class="btn btn-default">Unlink</a>-->
                    <a href="#" class="btn btn-default" id="changePass" onclick="$('#changePassForm').show(); $('#changePass').hide(); mess.hide(); return false;">Change password</a>
                </h3>

                <% if (user.local.email) { %>
                    <p>
                        <!--strong>id</strong>: <%= user._id %><br>-->
                        <strong>email</strong>: <%= user.local.email %> 
                    </p>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>
                <p style="color:#FF0004;display:none;" id="changePassMessage"></p>
                <div id="changePassForm" style="display:none;"><div class="row">
                    <div class="col-sm-12">
                    <p>Your password cannot be the same as your user name (email).</p>
                    <form method="post" id="passwordForm" action="/changepass">
                    <% include ../static/pages/password.html %>
                    <input type="submit" class="btn btn-primary" data-loading-text="Changing Password..." value="Change password" id="submitPass" disabled="disabled">
                    <input type="buton" class="btn btn-default" value="Cancel" onclick="$('#changePass').show(); $('#changePassForm').hide(); return false;">
                    </form>
                    </div><!--/col-sm-6-->
                    </div><!--/row-->
                </div>
            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary" disabled="disabled">Connect Facebook</a> coming soon...
                <% } %>

            </div>
        </div>
    </div>
    <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                <% if (user.twitter.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.twitter.id %><br>
                        <strong>token</strong>: <%= user.twitter.token %><br>
                        <strong>display name</strong>: <%= user.twitter.displayName %><br>
                        <strong>username</strong>: <%= user.twitter.username %>
                    </p>

                    <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info" disabled="disabled">Connect Twitter</a> coming soon...
                <% } %>

            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <% if (user.google.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-danger" disabled="disabled">Connect Google</a> coming soon...
                <% } %>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

var btn = $("#submitPass"),
        mess = $("#changePassMessage");

$("#passwordForm").submit(function(e){

    e.preventDefault();
    
    if(!valid) {
        return false;
    }

    mess.hide();

    $.ajax({
           type: "POST",
           url: "/changepass",
           data: $("#passwordForm").serialize(), // serializes the form's elements.
           success: function(data) {
               mess.css("color","#00A41E");
               mess.text("Password changed successfully");
               $('#changePass').show(); $('#changePassForm').hide();
               mess.show();
           },
           error: function(settings) {
               mess.css("color","#FF0004");
               mess.text("Failed to change password");
               mess.show();
           }
         });

    return false;
});

$("#wallets").keyup(function(){
    $("#saveWalletsMessage").text("");
});

$("#saveWallets").click(function(){
    var wallets = $("#wallets").val().trim(),
        mess = $("#saveWalletsMessage");

    if(wallets == "") {
        mess.text("List of wallets cannot be empty");
        return false;
    }

    $.post("/savewallets", { 
        "wallets": wallets.split("\n")
    }).done(function() { mess.css("color","#00A41E"); mess.text("Saved successfully!"); })
    .fail(function() { mess.css("color","#FF0004"); mess.text("Failed to save wallet address(es)"); } );
});

</script>
