<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Examination System</title>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <link href="css/dashboard-sidebar.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">



    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <% include sidebar/dashboard-sidebar.ejs %>

        <div class="container-fluid" style="margin-left:100px; margin-top:100px;">
            <div class="row row-offcanvas row-offcanvas-left">
                <div class="col-sm-12 col-md-12 main">
                    <div class="row placeholders">
                        <div class="col-xs-6 col-sm-3 placeholder text-center">
                            <img src="//placehold.it/200/6666ff/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
                            <h4>Lasdfbel</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder text-center">
                            <img src="//placehold.it/200/66ff66/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
                            <h4>sdc</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder text-center">
                            <img src="//placehold.it/200/6666ff/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
                            <h4>Labsdcel</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder text-center">
                            <img src="//placehold.it/200/66ff66/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
                            <h4>Label</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>



        <!--
    <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
        <div class="row">
      
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>
                    <% if (user.local.email) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user._id %>
                                <br>
                                <strong>email</strong>:
                                <%= user.local.email %>
                                    <br>
                                    <strong>password</strong>:
                                    <%= user.local.password %>
                        </p>
                        <a href="/unlink/local" class="btn btn-default">Unlink</a>
                        <% } else { %>
                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                            <% } %>

                </div>
            </div>

   
            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                     check if the user has this token (is the user authenticated with this social account) 
                    <% if (user.facebook.token) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user.facebook.id %>
                                <br>
                                <strong>token</strong>:
                                <%= user.facebook.token %>
                                    <br>
                                    <strong>email</strong>:
                                    <%= user.facebook.email %>
                                        <br>
                                        <strong>name</strong>:
                                        <%= user.facebook.name %>
                                            <br>
                        </p>

                        <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                        <% } else { %>
                            <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                            <% } %>
-->

        <!--
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                    <% if (user.twitter.token) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user.twitter.id %>
                                <br>
                                <strong>token</strong>:
                                <%= user.twitter.token %>
                                    <br>
                                    <strong>display name</strong>:
                                    <%= user.twitter.displayName %>
                                        <br>
                                        <strong>username</strong>:
                                        <%= user.twitter.username %>
                        </p>

                        <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                        <% } else { %>
                            <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                            <% } %>
                </div>
            </div>
-->


        <!--
            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                    <% if (user.google.token) { %>
                        <p>
                            <strong>id</strong>:
                            <%= user.google.id %>
                                <br>
                                <strong>token</strong>:
                                <%= user.google.token %>
                                    <br>
                                    <strong>email</strong>:
                                    <%= user.google.email %>
                                        <br>
                                        <strong>name</strong>:
                                        <%= user.google.name %>
                        </p>

                        <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                        <% } else { %>
                            <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                            <% } %>

                </div>
            </div>
        </div>
    </div>
-->
        <!--        </div>-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/dashboard.js"></script>
        <style CSS>
            @import url("https://bootswatch.com/flatly/bootstrap.min.css");
        </style>
</body>

</html>